<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bitfty.mall.dao.NewsDao">
    <resultMap id="resultMap" type="com.bitfty.mall.entity.News">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="news_url" property="newsUrl" jdbcType="INTEGER"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="summary_url" property="summaryUrl" jdbcType="VARCHAR"/>
        <result column="link" property="link" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,title,author,news_url,summary,summary_url,link,content,create_at,update_at
    </sql>

    <sql id="page_Column_List">
        id,title,author,news_url,summary,summary_url,link,create_at,update_at
    </sql>



    <select id="findById" resultMap="resultMap">
        select <include refid="Base_Column_List"/> from tbl_news where id=#{id}
    </select>

    <select id="findPageByParams" resultMap="resultMap">
        select
        <include refid="page_Column_List"/>
        from tbl_news
        <where>
            <if test="title != null and title != ''">
                and title like concat(#{title},'%')
            </if>
            <if test="summary != null and summary != ''">
                and summary =#{summary}
            </if>
            <if test="createAtStart!=null and createAtStart!=''">
                <![CDATA[  and create_at >= str_to_date(#{createAtStart},'%Y-%m-%d %T')  ]]>
            </if>
            <if test="createAtEnd!=null and createAtEnd!=''">
                <![CDATA[  and create_at <= str_to_date(#{createAtEnd},'%Y-%m-%d %T')   ]]>
            </if>
        </where>
        <if test="orderBy != null and orderBy != ''">
            order by ${orderBy} ${sortBy}
        </if>
        limit #{start},#{ends}
    </select>

    <select id="countByParams" resultType="java.lang.Integer">
        select count(id) from tbl_news
        <where>
            <if test="title != null and title != ''">
                and title like concat(#{title},'%')
            </if>
            <if test="summary != null and summary != ''">
                and summary =#{summary}
            </if>
            <if test="createAtStart!=null and createAtStart!=''">
                <![CDATA[  and create_at >= str_to_date(#{createAtStart},'%Y-%m-%d %T')  ]]>
            </if>
            <if test="createAtEnd!=null and createAtEnd!=''">
                <![CDATA[  and create_at <= str_to_date(#{createAtEnd},'%Y-%m-%d %T')   ]]>
            </if>
        </where>
    </select>
    <select id="list" resultMap="resultMap">
        select <include refid="page_Column_List"/> from tbl_news order by create_at desc  limit 0,#{pageSize}
    </select>


    <insert id="save" parameterType="com.bitfty.mall.entity.News" keyProperty="id" keyColumn="id"
            useGeneratedKeys="true">
        insert into tbl_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null and title !=''">title,</if>
            <if test="author != null and author !=''">author,</if>
            <if test="newsUrl != null and newsUrl !=''">news_url,</if>
            <if test="summary != null and summary !=''">summary,</if>
            <if test="summaryUrl != null and summaryUrl !=''">summary_url,</if>
            <if test="link != null and link !=''">link,</if>
            <if test="content != null and content !=''">content,</if>
            <if test="createAt != null">create_at,</if>
            <if test="updateAt != null">update_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="title != null and title !=''">#{title,jdbcType=VARCHAR},</if>
            <if test="author != null and author !=''">#{author,jdbcType=VARCHAR},</if>
            <if test="newsUrl != null and newsUrl !=''">#{newsUrl,jdbcType=VARCHAR},</if>
            <if test="summary != null and summary !=''">#{summary,jdbcType=VARCHAR},</if>
            <if test="summaryUrl != null and summaryUrl !=''">#{summaryUrl,jdbcType=VARCHAR},</if>
            <if test="link != null and link !=''">#{link,jdbcType=VARCHAR},</if>
            <if test="content != null and content !=''">#{content,jdbcType=LONGVARCHAR},</if>
            <if test="createAt != null">#{createAt,jdbcType=TIMESTAMP},</if>
            <if test="updateAt != null">#{updateAt,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.bitfty.mall.entity.News">
        update tbl_news
        <set>
            <if test="title != null and title !=''">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="author != null and author !=''">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="newsUrl != null and newsUrl !=''">
                news_url = #{newsUrl,jdbcType=VARCHAR},
            </if>
            <if test="summary != null and summary !=''">
                summary = #{summary,jdbcType=VARCHAR},
            </if>
            <if test="summaryUrl != null and summaryUrl !=''">
                summary_url = #{summaryUrl,jdbcType=VARCHAR},
            </if>
            <if test="link != null and link !=''">
                link = #{link,jdbcType=VARCHAR},
            </if>
            <if test="content != null and content !=''">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        delete from tbl_news where id=#{id}
    </delete>

</mapper>