<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitfty.mall.dao.ProductDetailDao">
  <resultMap id="BaseResultMap" type="com.bitfty.mall.entity.ProductDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="prod_id" jdbcType="VARCHAR" property="prodId" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="detail_info" jdbcType="LONGVARCHAR" property="detailInfo" />
    <result column="machine_params" jdbcType="LONGVARCHAR" property="machineParams" />
  </resultMap>
  <sql id="Base_Column_List">
    id, prod_id, create_at, update_at
  </sql>
  <sql id="Blob_Column_List">
    detail_info, machine_params
  </sql>
  <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_product_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String">
    delete from tbl_product_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <select id="findByProdId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_product_detail
    where prod_id = #{prodId,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="com.bitfty.mall.entity.ProductDetail">
    insert into tbl_product_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="prodId != null">
        prod_id,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="detailInfo != null">
        detail_info,
      </if>
      <if test="machineParams != null">
        machine_params,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null">
        #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="detailInfo != null">
        #{detailInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="machineParams != null">
        #{machineParams,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.bitfty.mall.entity.ProductDetail">
    update tbl_product_detail
    <set>
      <if test="prodId != null">
        prod_id = #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="detailInfo != null">
        detail_info = #{detailInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="machineParams != null">
        machine_params = #{machineParams,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>