<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitfty.mall.dao.ProductDao">
  <resultMap id="BaseResultMap" type="com.bitfty.mall.entity.Product">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="sold_amount" jdbcType="DECIMAL" property="soldAmount" />
    <result column="store_count" jdbcType="INTEGER" property="storeCount" />
    <result column="sold_count" jdbcType="INTEGER" property="soldCount" />
    <result column="electric_fee" jdbcType="DECIMAL" property="electricFee" />
    <result column="origin_electric" jdbcType="DECIMAL" property="originElectric" />
    <result column="discount_electric" jdbcType="DECIMAL" property="discountElectric" />
    <result column="sold_electric_fee" jdbcType="DECIMAL" property="soldElectricFee" />
    <result column="service_fee" jdbcType="DECIMAL" property="serviceFee" />
    <result column="power_size" jdbcType="DECIMAL" property="powerSize" />
    <result column="consume_power" jdbcType="DECIMAL" property="consumePower" />
    <result column="buy_max" jdbcType="INTEGER" property="buyMax" />
    <result column="buy_min" jdbcType="INTEGER" property="buyMin" />
    <result column="labels" jdbcType="VARCHAR" property="labels" />
    <result column="weight_total" jdbcType="INTEGER" property="weightTotal" />
    <result column="currency_type" jdbcType="VARCHAR" property="currencyType" />
    <result column="prod_type" jdbcType="VARCHAR" property="prodType" />
    <result column="gain_date" jdbcType="TIMESTAMP" property="gainDate" />
    <result column="sold_date" jdbcType="TIMESTAMP" property="soldDate" />
    <result column="valid_day" jdbcType="INTEGER" property="validDay" />
    <result column="recommend_status" jdbcType="INTEGER" property="recommendStatus" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="buy_step" jdbcType="INTEGER" property="buyStep" />
    <result column="electric_step" jdbcType="INTEGER" property="electricStep" />
    <result column="electric_min" jdbcType="INTEGER" property="electricMin" />
    <result column="product_efp" jdbcType="INTEGER" property="productEfp" />
  </resultMap>
  <sql id="base_table"> tbl_product </sql>
  <sql id="Base_Column_List">
    id, picture_url, name, amount, sold_amount, store_count, sold_count, electric_fee,origin_electric,discount_electric,
    sold_electric_fee, service_fee, power_size, consume_power, buy_max, buy_min, labels,
    weight_total, currency_type, prod_type, gain_date, sold_date, valid_day, recommend_status, memo,
    status, create_at, update_at, buy_step, electric_step, electric_min ,product_efp
  </sql>

	<select id="queryById" parameterType="string" resultMap="BaseResultMap">
	    select
	    <include refid="Base_Column_List"/>
	    from tbl_product
	    where id = #{id} and status = 1
	</select>

	<update id="updateStoreCountBuId" parameterType="string">
	    update tbl_product
	    set store_count = store_count - #{count}
	    where id = #{id} and (store_count - #{count}) > 0
	</update>

  
  <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String">
    delete from tbl_product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bitfty.mall.entity.Product">
    insert into tbl_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pictureUrl != null">
        picture_url,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="soldAmount != null">
        sold_amount,
      </if>
      <if test="storeCount != null">
        store_count,
      </if>
      <if test="soldCount != null">
        sold_count,
      </if>
      <if test="electricFee != null">
        electric_fee,
      </if>
      <if test="soldElectricFee != null">
        sold_electric_fee,
      </if>
      <if test="serviceFee != null">
        service_fee,
      </if>
      <if test="powerSize != null">
        power_size,
      </if>
      <if test="consumePower != null">
        consume_power,
      </if>
      <if test="buyMax != null">
        buy_max,
      </if>
      <if test="buyMin != null">
        buy_min,
      </if>
      <if test="labels != null">
        labels,
      </if>
      <if test="weightTotal != null">
        weight_total,
      </if>
      <if test="currencyType != null">
        currency_type,
      </if>
      <if test="prodType != null">
        prod_type,
      </if>
      <if test="gainDate != null">
        gain_date,
      </if>
      <if test="soldDate != null">
          sold_date,
      </if>
      <if test="validDay != null">
        valid_day,
      </if>
      <if test="recommendStatus != null">
        recommend_status,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="buyStep != null">
        buy_step,
      </if>
      <if test="electricStep != null">
        electric_step,
      </if>
      <if test="electricMin != null">
        electric_min,
      </if>
      <if test="originElectric != null">
        origin_electric,
      </if>
      <if test="discountElectric != null">
        discount_electric,
      </if>
      <if test="productEfp != null">
        product_efp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="soldAmount != null">
        #{soldAmount,jdbcType=DECIMAL},
      </if>
      <if test="storeCount != null">
        #{storeCount,jdbcType=INTEGER},
      </if>
      <if test="soldCount != null">
        #{soldCount,jdbcType=INTEGER},
      </if>
      <if test="electricFee != null">
        #{electricFee,jdbcType=DECIMAL},
      </if>
      <if test="soldElectricFee != null">
        #{soldElectricFee,jdbcType=DECIMAL},
      </if>
      <if test="serviceFee != null">
        #{serviceFee,jdbcType=DECIMAL},
      </if>
      <if test="powerSize != null">
        #{powerSize,jdbcType=DECIMAL},
      </if>
      <if test="consumePower != null">
        #{consumePower,jdbcType=DECIMAL},
      </if>
      <if test="buyMax != null">
        #{buyMax,jdbcType=INTEGER},
      </if>
      <if test="buyMin != null">
        #{buyMin,jdbcType=INTEGER},
      </if>
      <if test="labels != null">
        #{labels,jdbcType=VARCHAR},
      </if>
      <if test="weightTotal != null">
        #{weightTotal,jdbcType=INTEGER},
      </if>
      <if test="currencyType != null">
        #{currencyType,jdbcType=VARCHAR},
      </if>
      <if test="prodType != null">
        #{prodType,jdbcType=VARCHAR},
      </if>
      <if test="gainDate != null">
        #{gainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="soldDate != null">
        #{soldDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validDay != null">
        #{validDay,jdbcType=INTEGER},
      </if>
      <if test="recommendStatus != null">
        #{recommendStatus,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="buyStep != null">
        #{buyStep,jdbcType=INTEGER},
      </if>
      <if test="electricStep != null">
        #{electricStep,jdbcType=INTEGER},
      </if>
      <if test="electricMin != null">
        #{electricMin,jdbcType=INTEGER},
      </if>
      <if test="originElectric != null">
        #{originElectric,jdbcType=DECIMAL},
      </if>
      <if test="discountElectric != null">
        #{discountElectric,jdbcType=DECIMAL},
      </if>
      <if test="productEfp != null">
        #{productEfp},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.bitfty.mall.entity.Product">
    update tbl_product
    <set>
      <if test="pictureUrl != null">
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="soldAmount != null">
        sold_amount = #{soldAmount,jdbcType=DECIMAL},
      </if>
      <if test="storeCount != null">
        store_count = #{storeCount,jdbcType=INTEGER},
      </if>
      <if test="soldCount != null">
        sold_count = #{soldCount,jdbcType=INTEGER},
      </if>
      <if test="electricFee != null">
        electric_fee = #{electricFee,jdbcType=DECIMAL},
      </if>
      <if test="soldElectricFee != null">
        sold_electric_fee = #{soldElectricFee,jdbcType=DECIMAL},
      </if>
      <if test="serviceFee != null">
        service_fee = #{serviceFee,jdbcType=DECIMAL},
      </if>
      <if test="powerSize != null">
        power_size = #{powerSize,jdbcType=DECIMAL},
      </if>
      <if test="consumePower != null">
        consume_power = #{consumePower,jdbcType=DECIMAL},
      </if>
      <if test="buyMax != null">
        buy_max = #{buyMax,jdbcType=INTEGER},
      </if>
      <if test="buyMin != null">
        buy_min = #{buyMin,jdbcType=INTEGER},
      </if>
      <if test="labels != null">
        labels = #{labels,jdbcType=VARCHAR},
      </if>
      <if test="weightTotal != null">
        weight_total = #{weightTotal,jdbcType=INTEGER},
      </if>
      <if test="currencyType != null">
        currency_type = #{currencyType,jdbcType=VARCHAR},
      </if>
      <if test="prodType != null">
        prod_type = #{prodType,jdbcType=VARCHAR},
      </if>
      <if test="gainDate != null">
        gain_date = #{gainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="soldDate != null">
        sold_date = #{soldDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validDay != null">
        valid_day = #{validDay,jdbcType=INTEGER},
      </if>
      <if test="recommendStatus != null">
        recommend_status = #{recommendStatus,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="buyStep != null">
        buy_step = #{buyStep,jdbcType=INTEGER},
      </if>
      <if test="electricStep != null">
        electric_step = #{electricStep,jdbcType=INTEGER},
      </if>
      <if test="electricMin != null">
        electric_min = #{electricMin,jdbcType=INTEGER},
      </if>
      <if test="originElectric != null">
        origin_electric = #{originElectric,jdbcType=DECIMAL},
      </if>
      <if test="discountElectric != null">
        discount_electric = #{discountElectric,jdbcType=DECIMAL},
      </if>
      <if test="productEfp != null">
        product_efp = #{productEfp,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="findPageByParams" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List"/> , <![CDATA[   IF(store_count<>0, 1,0)  status2 ]]>
     from tbl_product
    <where>
      <if test="pictureUrl != null and pictureUrl != '' ">
        and picture_url = #{pictureUrl,jdbcType=VARCHAR}
      </if>
      <if test="name != null and name != ''">
        and name like concat(#{name},'%')
      </if>
      <if test="amount != null">
        and amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="soldAmount != null">
        and sold_amount = #{soldAmount,jdbcType=DECIMAL}
      </if>
      <if test="storeCount != null">
        and store_count = #{storeCount,jdbcType=INTEGER}
      </if>
      <if test="soldCount != null">
        and sold_count = #{soldCount,jdbcType=INTEGER}
      </if>
      <if test="electricFee != null">
        and electric_fee = #{electricFee,jdbcType=DECIMAL}
      </if>
      <if test="soldElectricFee != null">
        and sold_electric_fee = #{soldElectricFee,jdbcType=DECIMAL}
      </if>
      <if test="serviceFee != null">
        and service_fee = #{serviceFee,jdbcType=DECIMAL}
      </if>
      <if test="powerSize != null">
        and power_size = #{powerSize,jdbcType=DECIMAL}
      </if>
      <if test="consumePower != null">
        and consume_power = #{consumePower,jdbcType=DECIMAL}
      </if>
      <if test="buyMax != null">
        and buy_max = #{buyMax,jdbcType=INTEGER}
      </if>
      <if test="buyMin != null">
        and buy_min = #{buyMin,jdbcType=INTEGER}
      </if>
      <if test="labels != null">
        and labels = #{labels,jdbcType=VARCHAR}
      </if>
      <if test="weightTotal != null">
        and weight_total = #{weightTotal,jdbcType=INTEGER}
      </if>
      <if test="currencyType != null">
        and currency_type = #{currencyType,jdbcType=VARCHAR}
      </if>
      <if test="prodType != null and prodType != '' ">
        and prod_type = #{prodType,jdbcType=VARCHAR}
      </if>
      <if test="gainDate != null">
        and gain_date = #{gainDate,jdbcType=TIMESTAMP}
      </if>
      <if test="soldDate != null">
        and sold_date = #{soldDate,jdbcType=TIMESTAMP}
      </if>
      <if test="validDay != null">
        and valid_day = #{validDay,jdbcType=INTEGER}
      </if>
      <if test="recommendStatus != null">
        and recommend_status = #{recommendStatus,jdbcType=INTEGER}
      </if>
      <if test="memo != null">
        and memo = #{memo,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="createAt != null">
        and create_at = #{createAt,jdbcType=TIMESTAMP}
      </if>
      <if test="updateAt != null">
        and update_at = #{updateAt,jdbcType=TIMESTAMP}
      </if>
      <if test="buyStep != null">
        and buy_step = #{buyStep,jdbcType=INTEGER}
      </if>
      <if test="electricStep != null">
        and electric_step = #{electricStep,jdbcType=INTEGER}
      </if>
      <if test="electricMin != null">
        and electric_min = #{electricMin,jdbcType=INTEGER}
      </if>
      <if test="status1 != null">
        and status in(1,2)
      </if>
      <if test="productEfp != null">
        and product_efp = #{productEfp,jdbcType=INTEGER}
      </if>
    </where>
    order by status asc,status2 desc ,recommend_status desc ,weight_total desc, create_at desc  limit #{start},#{ends}
  </select>

  <select id="findPage" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List"/> , <![CDATA[   IF(store_count<>0, 1,0)  status2 ]]>
    from tbl_product
    <where>
      <if test="id != null and id != '' ">
        and id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="pictureUrl != null and pictureUrl != '' ">
        and picture_url = #{pictureUrl,jdbcType=VARCHAR}
      </if>
      <if test="name != null and name != ''">
        and name like concat(#{name},'%')
      </if>
      <if test="amount != null">
        and amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="soldAmount != null">
        and sold_amount = #{soldAmount,jdbcType=DECIMAL}
      </if>
      <if test="storeCount != null">
        and store_count = #{storeCount,jdbcType=INTEGER}
      </if>
      <if test="soldCount != null">
        and sold_count = #{soldCount,jdbcType=INTEGER}
      </if>
      <if test="electricFee != null">
        and electric_fee = #{electricFee,jdbcType=DECIMAL}
      </if>
      <if test="soldElectricFee != null">
        and sold_electric_fee = #{soldElectricFee,jdbcType=DECIMAL}
      </if>
      <if test="serviceFee != null">
        and service_fee = #{serviceFee,jdbcType=DECIMAL}
      </if>
      <if test="powerSize != null">
        and power_size = #{powerSize,jdbcType=DECIMAL}
      </if>
      <if test="consumePower != null">
        and consume_power = #{consumePower,jdbcType=DECIMAL}
      </if>
      <if test="buyMax != null">
        and buy_max = #{buyMax,jdbcType=INTEGER}
      </if>
      <if test="buyMin != null">
        and buy_min = #{buyMin,jdbcType=INTEGER}
      </if>
      <if test="labels != null">
        and labels = #{labels,jdbcType=VARCHAR}
      </if>
      <if test="weightTotal != null">
        and weight_total = #{weightTotal,jdbcType=INTEGER}
      </if>
      <if test="currencyType != null">
        and currency_type = #{currencyType,jdbcType=VARCHAR}
      </if>
      <if test="prodType != null and prodType != '' ">
        and prod_type = #{prodType,jdbcType=VARCHAR}
      </if>
      <if test="gainDate != null">
        and gain_date = #{gainDate,jdbcType=TIMESTAMP}
      </if>
      <if test="soldDate != null">
        and sold_date = #{soldDate,jdbcType=TIMESTAMP}
      </if>
      <if test="validDay != null">
        and valid_day = #{validDay,jdbcType=INTEGER}
      </if>
      <if test="recommendStatus != null">
        and recommend_status = #{recommendStatus,jdbcType=INTEGER}
      </if>
      <if test="memo != null">
        and memo = #{memo,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="createAt != null">
        and create_at = #{createAt,jdbcType=TIMESTAMP}
      </if>
      <if test="updateAt != null">
        and update_at = #{updateAt,jdbcType=TIMESTAMP}
      </if>
      <if test="buyStep != null">
        and buy_step = #{buyStep,jdbcType=INTEGER}
      </if>
      <if test="electricStep != null">
        and electric_step = #{electricStep,jdbcType=INTEGER}
      </if>
      <if test="electricMin != null">
        and electric_min = #{electricMin,jdbcType=INTEGER}
      </if>
      <if test="status1 != null">
        and status in(1,2)
      </if>
      <if test="productEfp != null">
        and product_efp = #{productEfp,jdbcType=INTEGER}
      </if>
    </where>
      <if test="queryType != null">
          order by create_at desc
      </if>
      <if test="queryType == null">
          order by status asc,status2 desc ,recommend_status desc ,weight_total desc, create_at desc
      </if>
      limit #{start},#{ends}
  </select>


  <select id="countByParams" resultType="java.lang.Integer">
    select  count(id)
    from tbl_product
    <where>
      <if test="id != null and id != '' ">
        and id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="pictureUrl != null and pictureUrl != '' ">
        and picture_url = #{pictureUrl,jdbcType=VARCHAR}
      </if>
      <if test="name != null and name != ''">
        and name like concat(#{name},'%')
      </if>
      <if test="amount != null">
        and amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="soldAmount != null">
        and sold_amount = #{soldAmount,jdbcType=DECIMAL}
      </if>
      <if test="storeCount != null">
        and store_count = #{storeCount,jdbcType=INTEGER}
      </if>
      <if test="soldCount != null">
        and sold_count = #{soldCount,jdbcType=INTEGER}
      </if>
      <if test="electricFee != null">
        and electric_fee = #{electricFee,jdbcType=DECIMAL}
      </if>
      <if test="soldElectricFee != null">
        and sold_electric_fee = #{soldElectricFee,jdbcType=DECIMAL}
      </if>
      <if test="serviceFee != null">
        and service_fee = #{serviceFee,jdbcType=DECIMAL}
      </if>
      <if test="powerSize != null">
        and power_size = #{powerSize,jdbcType=DECIMAL}
      </if>
      <if test="consumePower != null">
        and consume_power = #{consumePower,jdbcType=DECIMAL}
      </if>
      <if test="buyMax != null">
        and buy_max = #{buyMax,jdbcType=INTEGER}
      </if>
      <if test="buyMin != null">
        and buy_min = #{buyMin,jdbcType=INTEGER}
      </if>
      <if test="labels != null">
        and labels = #{labels,jdbcType=VARCHAR}
      </if>
      <if test="weightTotal != null">
        and weight_total = #{weightTotal,jdbcType=INTEGER}
      </if>
      <if test="currencyType != null">
        and currency_type = #{currencyType,jdbcType=VARCHAR}
      </if>
      <if test="prodType != null and prodType != '' ">
        and prod_type = #{prodType,jdbcType=VARCHAR}
      </if>
      <if test="gainDate != null">
        and gain_date = #{gainDate,jdbcType=TIMESTAMP}
      </if>
      <if test="soldDate != null">
        and sold_date = #{soldDate,jdbcType=TIMESTAMP}
      </if>
      <if test="validDay != null">
        and valid_day = #{validDay,jdbcType=INTEGER}
      </if>
      <if test="recommendStatus != null">
        and recommend_status = #{recommendStatus,jdbcType=INTEGER}
      </if>
      <if test="memo != null">
        and memo = #{memo,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="createAt != null">
        and create_at = #{createAt,jdbcType=TIMESTAMP}
      </if>
      <if test="updateAt != null">
        and update_at = #{updateAt,jdbcType=TIMESTAMP}
      </if>
      <if test="buyStep != null">
        and buy_step = #{buyStep,jdbcType=INTEGER}
      </if>
      <if test="electricStep != null">
        and electric_step = #{electricStep,jdbcType=INTEGER}
      </if>
      <if test="electricMin != null">
        and electric_min = #{electricMin,jdbcType=INTEGER}
      </if>
      <if test="status1 != null">
        and status in(1,2)
      </if>
      <if test="productEfp != null">
        and product_efp = #{productEfp,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <select id="findRecommend" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List"/> , <![CDATA[   IF(store_count<>0, 1,0)  status2 ]]> from tbl_product
    <where>
      <if test="currencyType != null">
        and currency_type = #{currencyType,jdbcType=VARCHAR}
      </if>
      <if test="status1 != null">
        and status in(1,2)
      </if>
    </where>
     order by status asc,status2 desc ,recommend_status desc ,weight_total desc, create_at desc  limit 3
  </select>

  <!--减库存-->
  <update id="deductStock">
    UPDATE tbl_product
    SET store_count = store_count - #{count},
        sold_count = sold_count + #{count}
    Where id = #{prodId} and store_count >= #{count} and status = 1
  </update>
  <!--加库存-->
  <update id="increaseStock">
    UPDATE tbl_product
    SET store_count = store_count + #{count},
        sold_count = sold_count - #{count}
    WHERE id = #{prodId} and sold_count >= #{count} and status =  1
  </update>

  <!--查询已售罄的产品-->
  <select id = "findSellOutProdIdList" resultType="string">
    SELECT id from <include refid="base_table"/>
    where status = 1 and store_count = 0
  </select>

  <!--更新产品状态为已售罄-->
  <update id="updateStatusDownByIds">
    UPDATE <include refid="base_table"/>
    set status = 2
    where status = 1 and store_count = 0
        and id in
        <foreach collection="list" open="(" separator="," close=")" item="pid">
            #{pid}
        </foreach>
  </update>

  <!--更新产品状态-->
  <update id="updateStatusById">
    UPDATE <include refid="base_table"/>
    set status = #{status}
    where  id  = #{id}
  </update>

</mapper>