<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitfty.mall.dao.ProductStoreRecordDao">
  <resultMap id="BaseResultMap" type="com.bitfty.mall.entity.ProductStoreRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="prod_id" jdbcType="VARCHAR" property="prodId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="store_count" jdbcType="INTEGER" property="storeCount" />
    <result column="sold_count" jdbcType="INTEGER" property="soldCount" />
    <result column="buy_count" jdbcType="INTEGER" property="buyCount" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
  <sql id="base_table"> tbl_product_store_record </sql>
  <sql id="Base_Column_List">
    id, prod_id, order_id, name, store_count, sold_count, buy_count, type, status, memo,
    create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_product_store_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_product_store_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bitfty.mall.entity.ProductStoreRecord">
    insert into tbl_product_store_record (id, prod_id, order_id,
      name, store_count, sold_count,
      buy_count, type, status,
      memo, create_at, update_at
      )
    values (#{id,jdbcType=VARCHAR}, #{prodId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{storeCount,jdbcType=INTEGER}, #{soldCount,jdbcType=INTEGER},
      #{buyCount,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{memo,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bitfty.mall.entity.ProductStoreRecord">
    insert into tbl_product_store_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="prodId != null">
        prod_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="storeCount != null">
        store_count,
      </if>
      <if test="soldCount != null">
        sold_count,
      </if>
      <if test="buyCount != null">
        buy_count,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null">
        #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="storeCount != null">
        #{storeCount,jdbcType=INTEGER},
      </if>
      <if test="soldCount != null">
        #{soldCount,jdbcType=INTEGER},
      </if>
      <if test="buyCount != null">
        #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bitfty.mall.entity.ProductStoreRecord">
    update tbl_product_store_record
    <set>
      <if test="prodId != null">
        prod_id = #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="storeCount != null">
        store_count = #{storeCount,jdbcType=INTEGER},
      </if>
      <if test="soldCount != null">
        sold_count = #{soldCount,jdbcType=INTEGER},
      </if>
      <if test="buyCount != null">
        buy_count = #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bitfty.mall.entity.ProductStoreRecord">
    update tbl_product_store_record
    set prod_id = #{prodId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      store_count = #{storeCount,jdbcType=INTEGER},
      sold_count = #{soldCount,jdbcType=INTEGER},
      buy_count = #{buyCount,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      memo = #{memo,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findByOrderIdAndType" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from <include refid="base_table"/>
    where order_id = #{orderId} and type = #{type} and status = 0
  </select>

    <select id="findRecordByStatus" resultMap="BaseResultMap">
      select
        <include refid="Base_Column_List" />
      from <include refid="base_table"/>
      where status = #{status}
    </select>

  <select id="findHandleRecordByDate" resultMap="BaseResultMap">
      select
        <include refid="Base_Column_List" />
      from <include refid="base_table"/>
      where status = 0
      <if test="beforeDate != null">
        <![CDATA[  and create_at <= #{beforeDate} ]]>
      </if>
    </select>

    <update id="updateRecordStatusByOrderId">
      update tbl_product_store_record
      set status = #{status,jdbcType=INTEGER}
      where status = 0 and order_id in
      <foreach collection="successList" item="oid" open="(" separator="," close=")">
        #{oid}
      </foreach>
    </update>

    <update id="updateRecordStatusById">
      update tbl_product_store_record
      set status = #{status,jdbcType=INTEGER}
      where id = #{id} and status = 0
    </update>

  <select id="findByOrderIdAndStatus" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from <include refid="base_table"/>
    where status = #{status} and order_id = #{orderId}
  </select>

  <select id="findByProdIdAndStatus" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from <include refid="base_table"/>
    where status = #{status} and prod_id = #{prodId}
  </select>

  <select id="findHandleByProdIds" resultType="java.lang.String">
    select prod_id
    from <include refid="base_table"/>
    where status = 0 and prod_id in
    <foreach collection="list" open="(" separator="," close=")" item="pid">
      #{pid}
    </foreach>
  </select>

</mapper>